.total-nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    opacity: 95%;
}

.header:hover{
    text-decoration: underline;
}

.navbar-brand{
    font-size: 35px;
    line-height: 1;
    font-weight: 500;
    color: #627f9a;
}

.navbar-brand:hover{
    color: #627f9a;
}

.form-control{
    width: 50%;
    height: 100%;
    border-radius: 0;
    
}

.btn{
    background-color: #8f0000;
    height: 100%;
    width: 50px;
    border-radius: 0;
    border: 1px solid #8f0000;
    transition: all .5s;
}

.bi-search{
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.btn:hover{
    background-color: #720000;
}

.icon{
    font-size: 30px;
    padding-left: 20px;
    color: #939395;
    transition: all .5s;
}

.icon:hover{
    color: #627f9a ;
}

.Number{
    border: 2px solid #939395;
    border-radius: 20px;
    font-size: 13px;
    color: #939395;
    transition: all .5s;
}

.Number:hover{
    background-color: #627f9a  ;
    border-color: #627f9a ;
    color: white;
}

.login{
    transition: all .5s;
}

.login:hover{
    color: white !important;
}

.cart:hover .bi-bag{
    color: white !important;
}

.nav-item{
    text-transform: uppercase;
}

.nav-link{
    color: #939395;
    font-weight: bold;
    font-size: 14px;
    transition: all .5s;
}

.nav-link:hover{
    color: white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.carousel-control-prev,.carousel-control-next{
    width: 10%;
    height: 15%;
    top: 45%;
}

.slick-next, .slick-prev {
    /* background-color: white; */
    height: 100%;
}

.slick-next:before,.slick-prev:before{
    color:black;
}

.image-holder{
    position: relative;
    width: 220px;
    height: 220px;
}

.image-holder img{
    width: 100%;
    height: 100%;
}



.sale{
    position: absolute;
    top: 5%;
    background-color: #8f0000;
    color: white;
    padding: 15px 10px;
    border-radius: 50%;  
}



.bi-suit-heart-fill{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 15px;
    padding: 3px 5px;
    color: #999999;
    border-radius: 50%;
    border: 3px solid #999999;
    display: none;
}

.quick-view{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #627f9a;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    display: none;
    transition: all 1s;
}

.image-holder:hover .quick-view{
    display: block;
}


.image-holder:hover .bi-suit-heart-fill{
    display: block;
}

.bi-suit-heart-fill:hover{
    color: red;
    border-color: red;
}

.quick-view:hover{
    text-decoration: underline;
}

.title{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #999999;
}

.name{
    font-size: 14.4px;
    text-transform: capitalize;
    color: #627f9a;
    padding: 0;
    padding-bottom: 10px;
    width: 95%;
}

.name:hover{
    color: black;
}

.price{
    font-weight: bold;
    font-size: 20px;
}

.prev-price{
    /* font-weight: bold; */
    font-size: 20px;
    color: #939395;
    text-decoration: line-through;
}

.category{
    position: relative;
    /* transition: all 1s; */
}


.cheading{
    position: absolute;
    width: 100%;
    top: 45%;
    text-transform: uppercase;
    font-size: 50px;
    transition: all .5s;

}

.cproduct{
    position: absolute;
    width: 100%;
    top: 55%;
    font-size: 15px;
    font-weight: bold;
    /* transition: all 1s; */
    display: none;
}

.ctext{
    position: absolute;
    left: 10;
    width: 98%;
    height: 100%;
    background-color: #627f9a;
    opacity: 50%;
    display: none;
    /* transition: all 1s; */

}

.category:hover .ctext{
    display: block;
}

.category:hover .cproduct{
    display: block;
}
.category:hover .cheading{
    top: 40%;
}

.sub_category{
    position: relative;
    /* transition: all 1s; */
    overflow: hidden;
}

.sub_category img{
    width: 100%;
    position: absolute;
    top: -100%;

}


.sub_cheading{
    position: absolute;
    width: 100%;
    top: 30%;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1;
    transition: all .5s;

}

.sub_cproduct{
    position: absolute;
    width: 100%;
    top: 55%;
    font-size: 15px;
    font-weight: bold;
    /* transition: all 1s; */
    display: none;
}

.sub_ctext{
    position: absolute;
    left: 10;
    width: 98%;
    height: 100%;
    background-color: #627f9a;
    opacity: 50%;
    display: none;
    /* transition: all 1s; */

}

.sub_category:hover .sub_ctext{
    display: block;
}

.sub_category:hover .sub_cproduct{
    display: block;
}
.sub_category:hover .sub_cheading{
    top: 10%;
}
